:root {
    --color-bg-primary: #f5f5f5;
    --color-bg-secondary: #f5f4fa;
    --color-accent: #2196f3;
    --color-bg-footer: #2f303a;
    --color-titles: #212121;
    --color-text-primary: #757575;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    letter-spacing: 0.03em;

    background-color: #fff;
    color: var(--color-text-primary);
}

.list-nd {
    list-style: none;
}

.link-nd {
    text-decoration: none;
}



/* Header */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    color: #000;
    text-decoration: none;
}

.logo-accent {
    color: var(--color-accent)
}

.main-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
    text-decoration: none;
}

.main-nav:hover, 
.main-nav:focus {
    color: var(--color-accent)
}

.active-page {
    color: var(--color-accent)
}


.contacts-h {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--color-text-primary);
    text-decoration: none;
}

.contacts-h:hover, 
.contacts-h:focus {
    color: var(--color-accent)
}



/* Main */
/* Hero section */
.hero-section {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #fff;
}

.button-main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    background-color: var(--color-accent);
    color: #fff;
}

/* Features */
.features-section {
    /* background-color: var(--color-bg-primary); */
}

.features-titles-list {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--color-titles);
}

/* What we do */
.wwd-section {
    /* background-color: var(--color-bg-primary); */
}

.wwd-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    color: var(--color-titles);
}

/* Team */
.team-section {
    background-color: var(--color-bg-secondary);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
        
    color: var(--color-titles);
}

.team-title-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
    color: var(--color-titles);
}

.team-memb-descr {
    font-size: 16px;
    line-height: 1.19;
}



/* Portfolio Filter*/
.button-filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    background-color: #f5f4fa;
    color: #212121;
}

.button-filter:hover, 
.button-filter:focus {
    background-color: var(--color-accent);
    color: #fff;
}

/* Portfolio */
.portfolio-section {
    /* background-color: var(--color-bg-primary); */
}

.portfolio-titles-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
    
    color: var(--color-titles);
}

.portfolio-cards-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    letter-spacing: 0.03em;
    
    color: var(--color-text-primary);
}




/* Footer */
.foot-bg {
    background-color: var(--color-bg-footer);
}

.logo-f {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    letter-spacing: 0.03em;
    
    color: #fff;
    text-decoration: none;
}

.contacts-foot {
    font-style: normal;
    
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.geolocation {
    color: #fff;
}